body {
    font-family: Algerian regular, sans-serif;
}

h2 {
    color: #4a4a4a;
}

h5 {
    color: #5c5c5c;
}

.list-group-item {
    background-color: #c172ce;
    color: #5c5c5c;
}

.list-group-item:hover {
    background-color: #c172ce;
}
